body {
  margin: 0;
}
.container-fluid {
  max-width: 1970px;
  padding: 0 15px;
}
.container-fluid h1{
    font-size: 20px;
    text-align: center;
}
.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 15px;
}
.subject{
    background: #000;
    color: white;
    height: 50px;
}
.subject ul{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subject ul li {
    padding: 15px;
    cursor: pointer;
    list-style-type: none;
}
.subject ul li a{
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.5;
    transition: .5s;
    font-family: arial;
}
.subject-content{
    display: none;
}
.active-content{
    display: block;
}
.subject ul li a:hover{
    opacity: 1;
    transition: .5s;
}
.content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-child{
    width: 45%;
    background: #fff;
    box-shadow: 0px 2px 7px -4px rgb(0 0 0 / 95%);
    padding: 15px;
    height: 70px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.content-child img{
    width: 30%;
    height: 100%;
    object-fit: cover;
}
.content-child a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.content-child a p{
    margin: 0 0 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}
.active{
    opacity: 1 !important;
    transition: .5s !important;
}
.title{
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}
.title::before{
    content: "";
    width: 35%;
    position: absolute;
    bottom: 0;
    background: #000;
    height: 2px;
}